{% extends 'base.html' %}

{% block content %}
    <h2>Import</h2>
    <form method="post" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        <div id="dropzone" class="" >
            <input type="file" name="document" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <p>Drag & drop or <b class="color">select CSV file</b></p>
        </div>
        <button type="submit" class="nk-button" disabled>Import contacts</button>
    </form>
    {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
    {% endif %}

    <h2>Export</h2>
    <form action="{% url 'download' %}" method="post">
        {% csrf_token %}
        <button type="submit" name='mybtn2' class="nk-button">Download all contacts</button>
    </form>

    <script>
        const dropZone = document.querySelector('#dropzone');
        const buttonEl = document.querySelector('button.nk-button:disabled');
        const inputFile = document.querySelector('input[type="file"]');

        dropZone.addEventListener('dragover', (event) => {
            dropZone.classList = 'hovered'
        });
        dropZone.addEventListener('dragleave', (event) => {
            dropZone.classList = ''
        });
        dropZone.addEventListener('drop', (event) => {
            dropZone.classList = ''
            const fileList = event.dataTransfer.files;
            buttonEl.disabled = false;
        });
        inputFile.addEventListener('change', (event) => {
            dropZone.classList = ''
            buttonEl.disabled = false;
        });
    </script>
{% endblock %}