{% extends 'base.html' %}

{% block content %}
    <h2>Import</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document">
        <button type="submit">Import contacts</button>
    </form>
    {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
    {% endif %}

    <form action="{% url 'download' %}" method="post">
        {% csrf_token %}
        <button type="submit" name='mybtn2'>Export contacts</button>
        </form>
{% endblock %}