{% extends 'base.html' %}
{% load my_filters %}
{% block content %}
    <h1>Prospect List</h1>
    <table class="table table-striped table-bordered table-hover">
        <th>
            <td>ID</td>
            <td>first name</td>
            <td>name</td>
            <td>email</td>
            <td>mobile</td>
            <td>address</td>
            <td>cible</td>
        </th>
        <tbody>
        {% for prospect in prospects %}
            <tr>
                <td></td>
                <td>{{ prospect.pk }}</td>
                <td>{{ prospect.first_name }}</td>
                <td>{{ prospect.name }}</td>
                <td>{{ prospect.email }}</td>
                <td>{{ prospect.mobile }}</td>
                <td>{{ prospect.address }}</td>
                {% if prospect|has_company %}
                    <td>B2B</td>
                {% else %}
                    <td>B2C</td>
                {% endif %}
                <td><a href="{% url 'prospect_detail' prospect.pk %}">Voir détails</a></td>
                <td><a href="{% url 'prospect_edit' prospect.pk %}">Edit</a></td>
                <td><a href="{% url 'prospect_delete' prospect.pk %}">Delete</a></td>
        {% empty %}
            <tr><td>No prospects yet.</td></tr>
        {% endfor %}
    
    </table>
    <a href="{% url 'prospect_create' %}">Create new prospect</a>
{% endblock %}