{% extends 'base.html' %}
{% load my_filters %}

{% block content %}
    <button onclick="window.history.back()">Retour</button>
    <h1>Customer Detail</h1>
    <!-- customer detail beautiful design -->

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Customer Detail</h3>
            <!-- display customer informations name, first_name-->
            <p>{{ customer.first_name }}</p>
            <p>{{ customer.name }}</p>
            <p>{{ customer.email }}</p>
            <p>{{ customer.mobile }}</p>
            <p>{{ customer.address }}</p>
            
        </div>
        <!-- actions list -->
        <table class="table table-striped table-bordered table-hover">
            <th>
                <td>ID</td>
                <td>action_type</td>
                <td>customer</td>
                <td>description</td>
                <td>created_at</td>
                <td>scheduled_at</td>
                <td>done_at</td>
                <td></td>
                <td></td>
                <td></td>
            </th>
            <tbody>
            {% for action in actions %}
                <tr>
                    <td></td>
                    <td>{{ action.pk }}</td>
                    <td>{{ action.action_type }}</td>
                    <td>{{ action.customer }}</td>
                    <td>{{ action.description }}</td>
                    <td>{{ action.created_at }}</td>
                    <td>{{ action.scheduled_at }}</td>
                    <td>{{ action.done_at }}</td>
                    <td><a href="{% url 'action_detail' action.pk %}">Voir détails</a></td>
                    <td><a href="{% url 'action_edit' action.pk %}">Edit</a></td>
                    <td><a href="{% url 'action_delete' action.pk %}">Delete</a></td>
                </tr>
            {% empty %}
                <tr><td>No actions yet.</td></tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'action_create' %}?customer_id={{ customer.pk }}&from=customer">Create new action</a>
    </div>
    
{% endblock %}